doctype html
html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pré-processando HTML, JavaScript e CSS com Task Runners
        link(href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet")
        link(rel="stylesheet", href="css/style.min.css")
        script(src="js/geral.min.js")  

    body

        h1 Página Exemplo
        hr

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa incidunt nam atque, facilis molestias ea laudantium nisi vero, quam quaerat neque voluptate ullam, tenetur iusto quos nihil natus cupiditate fugiat.

        p Lista

        ul
            li Item 1
            li Item 2
            li Item 3
            li Item 4
            li Item 5

        p Links

        a(href="javascript:void(0)" onclick="exibirSoma()") Exibir Soma &nbsp;
        a(href="javascript:void(0)" onclick="ola()") Olá &nbsp;
        a(href="javascript:void(0)" onclick="ola2()") Olá 2 &nbsp;
        a(href="javascript:void(0)" onclick="ola3()") Olá 3 &nbsp;